
<div class="banner" style="background-image: linear-gradient(rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dywzzd0as/image/upload/v1519409162/adam-wilson-416248-unsplash.jpg');">
  <div class="banner-content">
    <h1>Cocktail's Feast</h1>
    <p>Make the Perfect Cocktails</p>
  </div>
</div>

<div class="container">
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
         <%= image_tag cocktail.photo, style: "background-image"; %>
        <div class="card-description">
         <h5> <%= link_to cocktail.name, cocktail_path(cocktail), style: "color: white"; %> </h5>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="container-button">
  <div class="btn-medium">
  <%= link_to "+ Add New Cocktail", new_cocktail_path, :class => "btn", style:"color: grey"%>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>












